# 高级数据类型

In [1]:
import numpy as np

## 结构化数组

In [2]:
np.zeros(4, dtype=np.complex128)

array([0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j])

In [3]:
students = np.empty(3, dtype=[
    ('name', np.unicode_, 16), 
    ('age', np.int16),
    ('score', np.float_)
])
students.dtype

dtype([('name', '<U16'), ('age', '<i2'), ('score', '<f8')])

In [4]:
students = np.zeros(3, dtype={
    'names': ('name', 'age', 'score'),
    'formats': ('<U16', '<i2', '<f8')
})

In [5]:
np.dtype('S16,i2,f8')

dtype([('f0', 'S16'), ('f1', '<i2'), ('f2', '<f8')])

In [6]:
students['name'] = ['Alice', 'Tim', 'Duff']
students['age'] = [25, 19, 31]
students['score'] = [75.0, 61.3, 57.9]
students

array([('Alice', 25, 75. ), ('Tim', 19, 61.3), ('Duff', 31, 57.9)],
      dtype=[('name', '<U16'), ('age', '<i2'), ('score', '<f8')])

In [7]:
students['name']  # name field

array(['Alice', 'Tim', 'Duff'], dtype='<U16')

In [8]:
students[0]  # first struct

('Alice', 25, 75.)

In [9]:
students[-1]['name']

'Duff'

In [10]:
students[students['score'] > 60]['name']

array(['Alice', 'Tim'], dtype='<U16')

In [11]:
im3_3 = np.dtype(
    [('id', 'i8'), ('matrix', 'f8', (3, 3))]
)

In [12]:
c1 = np.zeros(5, dtype=im3_3)
c1[0]

(0, [[0., 0., 0.], [0., 0., 0.], [0., 0., 0.]])

In [13]:
student = np.dtype([
    ('name', np.unicode_, 16), 
    ('age', np.int16),
    ('score', np.float_)
])

In [14]:
classroom = np.dtype([
    ('teacher', np.dtype([
        ('name', np.unicode_, 16),
        ('age', np.int16)
    ])),
    ('students', student, 3)
])

In [15]:
grade_7 = np.empty(8, dtype=classroom)
grade_7[0]['teacher']['name'] = 'Mr.C'
grade_7[0]['teacher']['age'] = 32
grade_7[0]['students']['name'] = ['Alice', 'Tim', 'Duff']
grade_7[0]['students']['age'] = [25, 19, 31]
grade_7[0]['students']['score'] = [75.0, 61.3, 57.9]
grade_7[0]

(('Mr.C', 32), [('Alice', 25, 75. ), ('Tim', 19, 61.3), ('Duff', 31, 57.9)])

In [16]:
graderec_7 = grade_7.view(np.recarray)
graderec_7[0].students[1].name

'Tim'

## I/O

In [17]:
np.save('grade7', grade_7)

In [18]:
np.load('./grade7.npy')

array([(('Mr.C', 32), [('Alice', 25, 75. ), ('Tim', 19, 61.3), ('Duff', 31, 57.9)]),
       (('',  0), [('',  0,  0. ), ('',  0,  0. ), ('',  0,  0. )]),
       (('',  0), [('',  0,  0. ), ('',  0,  0. ), ('',  0,  0. )]),
       (('',  0), [('',  0,  0. ), ('',  0,  0. ), ('',  0,  0. )]),
       (('',  0), [('',  0,  0. ), ('',  0,  0. ), ('',  0,  0. )]),
       (('',  0), [('',  0,  0. ), ('',  0,  0. ), ('',  0,  0. )]),
       (('',  0), [('',  0,  0. ), ('',  0,  0. ), ('',  0,  0. )]),
       (('',  0), [('',  0,  0. ), ('',  0,  0. ), ('',  0,  0. )])],
      dtype=[('teacher', [('name', '<U16'), ('age', '<i2')]), ('students', [('name', '<U16'), ('age', '<i2'), ('score', '<f8')], (3,))])